<ul id="mainnav">
    <li>
        <a href="/post/">
        <span class="icon"> <i aria-hidden="true" class="fa fa-pencil"></i></span>
        <span>Blog</span>
    </a>
    </li>
    <li>
    <a href="{{ .Site.Params.githubUrl }}">
        <span class="icon"> <i aria-hidden="true" class="fa fa-github-alt"></i></span>
        <span> GitHub </span>
    </a>
    </li>
    <li>
    <a href="{{ .Site.Params.linkedinUrl }}">
        <span class="icon"> <i aria-hidden="true" class="fa fa-linkedin"></i></span>
        <span> LinkedIn </span>
    </a>
    </li>
    <li>
    <a href="{{ .Site.Params.twitterUrl }}">
        <span class="icon"> <i aria-hidden="true" class="fa fa-twitter"></i></span>
        <span> Twitter </span>
    </a>
    </li>
</ul>
